# MacOS desktop services store
.DS_Store

docker-compose.override.yml

logs/
trigger-log.txt
webhook.log
build_queue.json
build.lock

*.swp

# Editors
.vscode
.idea

# Local preview builds
dist/*
build/*
deployable/*

# rst backup files
*.rst~

.env
