# node modules
node_modules

# MacOS desktop services store
.DS_Store

# Log files
*.log

# Editors
.vscode
.idea

# VuePress temp directory
.temp

# Docs dist directory
.vuepress/dist

# Typescript build dist
packages/@vuepress/shared-utils/lib/
packages/@vuepress/shared-utils/types/
