weblate_url="https://translate.nitrokey.com"
weblate_api="$weblate_url/api"
apikey=""

# Override list of available languages for quicker local testing
# languages=("en" "de")

# Override list of components for quicker local testing
# components=("index")
