
<div class="language-switcher">
<select onchange="location = this.options[this.selectedIndex].value;">
    <option selected>{{ languages[language] }} ({{ language }})</option>
    {% for lang in languages: %}
        {% if language != lang %}
            {% if lang == 'en' %}
                <option value="/{{ pagename | replace("index.html", "") | replace("index", "") }}">{{ lang }}</option>
            {% else %}
                <option value="/{{lang}}/{{ pagename | replace("index.html", "") | replace("index", "") }}">{{ lang }}</option>
            {% endif %}
        {% endif %}
    {% endfor %}
</select>
</div>

