@import 'fonts.css';
@import 'divio_original.css';

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
h1, h2 {
    font-family: "Teko", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1em;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 40px;
    margin-top: 1.1em;
    margin-bottom: .2em;
}
.rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.rst-content img {
    margin-bottom: 15px !important; 
}

h3, h4 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 1.8em;
    margin-bottom: .7em;
}
h4 {
    font-size: 22px;
}
.rst-content h2 a,
.rst-content h2 a.toc-backref,
.rst-content h3 a,
.rst-content h3 a.toc-backref,
.rst-content h4 a,
.rst-content h4 a.toc-backref,
.rst-content h5 a,
.rst-content h5 a.toc-backref,
.rst-content h6 a,
.rst-content h6 a.toc-backref {
    color: #000;
}

p {
    line-height: 1.6em;
    margin: 0;
    font-size: 17px;
    margin-bottom: 24px;
}
.wy-plain-list-disc, .rst-content .section ul,
.rst-content .toctree-wrapper ul,
article ul {
    font-size: 17px;
    line-height: 1.6em;
}

.header-title {
    font-family: "Teko", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    font-size: 1.55em;
}

.logo {
    height: 40px;
}

.wy-breadcrumbs {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2.7em;
}

.section h1 {
    margin-bottom: .6em;
}

.product-platform-heading {
    color: #919191;
    font-weight: 400;
}

.section h1 + .product-platform-heading {
    margin-top: -2em;
    margin-bottom: 2.3em;
}

.wy-nav-content {
    position: relative;
}

.contents.local.topic {
    float: right;
    margin: 0 0 0 1.5em;
}

.contents.local.topic ul.simple {
    display: inline-block;
    padding: 1em 1em .7em 1.5em;
    background: #f5f7f9;
    border: 0px; /* solid #e5e5e5; */
    max-width: 23em;
}

.contents.local.topic a:hover {
    color: #535353;
}

@media screen and (max-width: 768px) {
    .wy-nav-content-wrap .wy-nav-content {
        padding: 70px 20px 26px;
    }
}

@media screen and (max-width: 1024px) {
    .contents.local.topic {
        float: none;
        margin: 0;
    }
}
@media screen and (min-width: 1550px) {
    .contents.local.topic {
        position: absolute;
        left: 100%;
        float: none;
        margin: 0;
        width: 23em;
    }

    .contents.local.topic ul.simple {
        max-width: 23em;
    }
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

/* Syntax Highlighting with dark Background */

pre {
    background-color: #3c4142;
}

div[class^="highlight"] pre {

    color: #ddd;

}

.rst-content code.literal {
    color: #DDD;
    background-color: #3c4142;
}

.language-switcher select, textarea {
	width: 4em;
}

a {
  color: #C70336;
  text-decoration: none;
  cursor: pointer;
}

.btn-neutral {
  background-color: #d1003b !important;
  color: #fff !important;
}

a:hover {
    color: #AB1738;
}

a:visited {
    color: #AB1738;
}

.wy-alert-title,
.rst-content .admonition-title {
    color: #fff;
    font-weight: 600;
    display: block;
    color: #fff;
    background: #6ab0de;
    margin: -1.8em -1.8em 1.8em -1.8em;
    padding: .8em 1.6em;
}

.wy-alert, .rst-content .note,
.rst-content .attention,
.rst-content .caution,
.rst-content .danger,
.rst-content .error,
.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .warning,
.rst-content .seealso,
.rst-content .admonition-todo,
.rst-content .admonition {
    padding: 1.8em 1.6em;
}

.wy-alert.wy-alert-warning .wy-alert-title,
.rst-content .wy-alert-warning.note .wy-alert-title,
.rst-content .attention .wy-alert-title,
.rst-content .caution .wy-alert-title,
.rst-content .wy-alert-warning.danger .wy-alert-title,
.rst-content .wy-alert-warning.error .wy-alert-title,
.rst-content .wy-alert-warning.hint .wy-alert-title,
.rst-content .wy-alert-warning.important .wy-alert-title,
.rst-content .wy-alert-warning.tip .wy-alert-title,
.rst-content .warning .wy-alert-title,
.rst-content .wy-alert-warning.seealso .wy-alert-title,
.rst-content .admonition-todo .wy-alert-title,
.rst-content .wy-alert-warning.admonition .wy-alert-title,
.wy-alert.wy-alert-warning .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-warning .admonition-title,
.rst-content .wy-alert-warning.note .admonition-title,
.rst-content .attention .admonition-title,
.rst-content .caution .admonition-title,
.rst-content .wy-alert-warning.danger .admonition-title,
.rst-content .wy-alert-warning.error .admonition-title,
.rst-content .wy-alert-warning.hint .admonition-title,
.rst-content .wy-alert-warning.important .admonition-title,
.rst-content .wy-alert-warning.tip .admonition-title,
.rst-content .warning .admonition-title,
.rst-content .wy-alert-warning.seealso .admonition-title,
.rst-content .admonition-todo .admonition-title,
.rst-content .wy-alert-warning.admonition .admonition-title {
	background: #C70336;
}

.wy-alert.wy-alert-warning,
.rst-content .wy-alert-warning.note,
.rst-content .attention,
.rst-content .caution,
.rst-content .wy-alert-warning.danger,
.rst-content .wy-alert-warning.error,
.rst-content .wy-alert-warning.hint,
.rst-content .wy-alert-warning.important,
.rst-content .wy-alert-warning.tip,
.rst-content .warning,
.rst-content .wy-alert-warning.seealso,
.rst-content .admonition-todo,
.rst-content .wy-alert-warning.admonition {
	background: #FBEDF1;
}

.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td,
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: #EDF2F8;
}

.wy-nav-side {
	background-color: #f5f6fb;
}

.wy-side-nav-search {
	background-color: #ecf1f8;
}

.wy-plain-list-decimal:first-of-type,
.rst-content .section ol:first-of-type,
.rst-content ol.arabic:first-of-type,
article ol:first-of-type {
    counter-reset: li;
}

.wy-plain-list-decimal,
.rst-content .section ol,
.rst-content ol.arabic,
article ol {
    list-style: none !important;
}

.wy-plain-list-decimal ul,
.rst-content .section ol ul,
.rst-content ol.arabic ul,
article ol ul {
    list-style: disc;
}
.wy-plain-list-decimal ul li,
.rst-content .section ol ul li,
.rst-content ol.arabic ul li,
article ol ul li {
    padding: 0;
}

.wy-plain-list-decimal li ol,
.rst-content .section ol li ol,
.rst-content ol.arabic li ol,
article ol li ol {
    counter-reset: sub-li;
}

.wy-plain-list-decimal li,
.rst-content .section ol li,
.rst-content ol.arabic li,
article ol li {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1em;
    position: relative;
    padding: 0 0 0 30px;
    font-size: 17px;
}

.wy-plain-list-decimal > li::marker ,
.rst-content .section ol > li::marker ,
.rst-content ol.arabic > li::marker ,
article ol > li::marker {
    content: '';
}

.wy-plain-list-decimal li:before,
.rst-content .section ol li:before,
.rst-content ol.arabic li:before,
article ol li:before {
    content: counter(li) ".";
    counter-increment: li;
    position: absolute;
    left: 0;
    top: -2.4px;
    height: 1em;
    width: 1.5em;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    line-height: 1.7em;
    text-align: left;
}

.wy-plain-list-decimal li ul li:before,
.rst-content .section ol li ul li:before,
.rst-content ol.arabic li ul li:before,
article ol li ul li:before {
    display: none;
}

.wy-plain-list-decimal li ol li,
.rst-content .section ol li ol li,
.rst-content ol.arabic li ol li,
article ol li ol li {
    padding: 0 0 0 40px;
}

.wy-plain-list-decimal li ol li:before ,
.rst-content .section ol li ol li:before ,
.rst-content ol.arabic li ol li:before ,
article ol li ol li:before {
    content: counter(li) ".";
}

.wy-plain-list-disc li,
.rst-content .section ul li,
.rst-content .toctree-wrapper ul li,
article ul li {
	list-style: disc;
	margin-left: 1.2em;
    margin-bottom: .6em;
}

.contents.local.topic ul li {
    margin-bottom: .3em;
}

.contents.local.topic ul li ul,
.contents.local.topic ol li ol,
.contents.local.topic ol li ul {
    margin-top: .3em;
}

.wy-menu-vertical a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.wy-menu-vertical > ul:first-child {
 	  padding-bottom: 0.5em;
 	  padding-top: 0.7em;
	  /*border-bottom: 3px solid #ccc;
		border-bottom-width: 75%;
		padding: 1px 25%;
		width:100px;*/
}

.wy-menu-vertical li.toctree-l2 li.toctree-l3 > a {
    padding: .6em 20px .6em 72px;
}

.contents.local.topic + .note,
.contents.local.topic + ol,
.contents.local.topic + ul {
    margin-bottom: 2.3em;
}

#search-results .context {
    color: #404040;
}
#search-results .highlighted {
    background: #c70336;
    color: #fff;
}
#search-results .result-breadcrumb {
    display: block;
    font-size: .8em;
}

.rst-content .highlighted {
    background: #c70336;
    color: #fff;
}

#language-banner {
    position: fixed;
    top: 80px;
    right: 20px;
    -moz-transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    opacity: 0;
    -moz-transform: translateX(400px);
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
}

.init-hidden {
    display: none;
}
#language-banner .language {
    position: relative;
    background: #10cc86;
    width: 370px;
    padding: 1em 1.4em;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    text-align: center;

    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#language-banner.show {
    opacity: 1;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#language-banner a {
    color: #fff;
    display: block;
    font-weight: 600;
}
#language-banner .actions a {
    text-align: center;
    padding: .6em 1.4em;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#language-banner .switch {
    float: left;
    width: 230px;
}
#language-banner .switch a {
    background: #1adc94;
    border-bottom-left-radius: .3em;
}
#language-banner .switch a:hover {
    background: #17bb7e;
}
#language-banner .dismiss {
    float: left;
    width: 140px;
}
#language-banner .dismiss a {
    background: #e0e0e0;
    color: #666;
    border-bottom-right-radius: .3em;
}
#language-banner .dismiss a:hover {
    background: #ebebeb;
    color: #222;
}
