.language-switcher select {
    width: auto;
    color: var(--color-sidebar-link-text);
    border-color: var(--color-sidebar-select-border);
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 5px;

    background: var(--color-sidebar-select-background) url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
}
body[data-theme="dark"] .language-switcher select {
    background: var(--color-sidebar-select-background) url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23eeeeee' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;    
}

.language-switcher {
    position: relative;
    z-index: 10;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: -15px;
}
.language-switcher.mobile {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.tablet-lang-switcher + .content-icon-container {
    margin: 0 0 0 20px;
}
.tablet-lang-switcher + .content-icon-container .toc-content-icon {
    padding-top: 6px;
}

.tablet-lang-switcher {
    display: none;
}
.tablet-lang-switcher .language-switcher {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 87em) {
    .logo-and-language {
        display: none;
    }
    .tablet-lang-switcher {
        display: block;
    }
    .tablet-lang-switcher .language-switcher {
        padding: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 67em) {
    .tablet-lang-switcher {
        display: none;
    }
    .logo-and-language {
        display: block;
    }
}