# Redirects of deprecated articles to existing ones
# =================================================

# Usage:
#	1) Copy the RedirectMatch Line
#	2) Put the deprecated path between ? and $
#	3) Put the final path between $1 and "
#
#	Use 301 for final redirects and 302 for temporary redirects
#
# If the browser shows "Internal Server Error" check the Syntax of the Rule Set:


#Rule Set:
#=========

RedirectMatch 302 "(/[a-z][a-z])?/path/to/old_article.html$" "$1/path/to/new_article.html"
#Nitrokey FIDO2
RedirectMatch 301 "(/[a-z][a-z])?/fido2/(mac/|windows/|linux/)?2fa-nextcloud.html$" "$1/nitrokeys/features/fido2/nextcloud.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/(mac/|windows/|linux/)?2fa-odoo.html$" "$1/nitrokeys/features/u2f/odoo.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/index.html$" "$1/nitrokeys/fido2/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/faq.html$" "$1/nitrokeys/fido2/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/(mac/|windows/|linux/)?firmware-update.html$" "$1/nitrokeys/fido2/firmware-update.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/fido2/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/(mac/|windows/|linux/)reset.html$" "$1/nitrokeys/fido2/reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/linux/desktop-login.html$" "$1/nitrokeys/features/u2f/desktop-login.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/windows/passwordless-microsoft.html$" "$1/nitrokeys/features/fido2/passwordless-microsoft.html"
#Nitrokey Passkey
RedirectMatch 301 "(/[a-z][a-z])?/nkpk/index.html$" "$1/nitrokeys/passkey/index.html"
#Nitrokey HSM2 not done
RedirectMatch 301 "(/[a-z][a-z])?/hsm/index.html$" "$1/nitrokeys/hsm/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/faq.html$" "$1/nitrokeys/hsm/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/n-of-m-schemes.html$" "$1/nitrokeys/features/hsm/n-of-m-schemes.html"
#Nitrokey U2F
RedirectMatch 301 "(/[a-z][a-z])?/u2f/index.html$" "$1/nitrokeys/u2f/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/u2f/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/u2f/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/u2f/(mac/|windows/|linux/)?2fa-nextcloud.html$" "$1/nitrokeys/features/fido2/nextcloud.html"
RedirectMatch 301 "(/[a-z][a-z])?/u2f/(mac/|windows/|linux/)?2fa-odoo.html$" "$1/nitrokeys/features/u2f/odoo.html"
RedirectMatch 301 "(/[a-z][a-z])?/fido2/linux/desktop-login.html$" "$1/nitrokeys/features/u2f/desktop-login.html"
#Nitrokey Storage
RedirectMatch 301 "(/[a-z][a-z])?/storage/index.html$" "$1/nitrokeys/storage/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)?factory-reset.html$" "$1/nitrokeys/storage/factory-reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/encrypted-mobile-storage.html$" "$1/nitrokeys/features/encrypted-storage/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/faq.html$" "$1/nitrokeys/storage/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/hidden.html$" "$1/nitrokeys/features/hidden-storage/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)?firmware-update-manually.html$" "$1/nitrokeys/storage/firmware-update-manually.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)?firmware-update.html$" "$1/nitrokeys/storage/firmware-update.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)?2fa-nextcloud.html$" "$1/nitrokeys/features/totp/nextcloud.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)?2fa-odoo.html$" "$1/nitrokeys/features/u2f/odoo.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/linux/desktop-login.html$" "$1/nitrokeys/features/u2f/desktop-login.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/storage/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)smime-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)smime-outlook.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)smime.html$" "$1/nitrokeys/features/openpgp-card/smime/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp.html$" "$1/nitrokeys/features/openpgp-card/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/openpgp-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-outlook.html$" "$1/nitrokeys/features/openpgp-card/openpgp-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-keygen-on-device.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-on-device.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-keygen-gpa.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-keygen-backup.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-backup.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openpgp-csp.html$" "$1/nitrokeys/features/openpgp-card/openpgp-csp.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/windows/smart-policy.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/smart-policy.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/windows/putty.html$" "$1/nitrokeys/features/openpgp-card/ssh/putty.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)ssh.html$" "$1/nitrokeys/features/openpgp-card/ssh/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)otp.html$" "$1/nitrokeys/features/totp/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)hidden.html$" "$1/nitrokeys/features/hidden-storage/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)hard-disk-encryption.html$" "$1/nitrokeys/features/openpgp-card/hard-disk-encryption/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)disk-encryption-luks.html$" "$1/nitrokeys/features/openpgp-card/hard-disk-encryption/luks.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)gpa.html$" "$1/nitrokeys/features/openpgp-card/gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)encrypted-mobile-storage.html$" "$1/nitrokeys/features/encrypted-storage/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)eid-authenticate.html$" "$1/nitrokeys/features/openpgp-card/eid.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)ecc.html$" "$1/nitrokeys/features/misc/ecc.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)change-pins.html$" "$1/nitrokeys/features/openpgp-card/change-pins.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)2fa-microsoft.html$" "$1/nitrokeys/features/totp/microsoft.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)2fa-google.html$" "$1/nitrokeys/features/totp/google.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)automatic-screen-lock.html$" "$1/nitrokeys/features/misc/automatic-screen-lock.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)certificate-authority.html$" "$1/nitrokeys/features/openpgp-card/certificate-authority.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)openvpn-easyrsa.html$" "$1/nitrokeys/features/openpgp-card/openvpn/easyrsa.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)stunnel.html$" "$1/nitrokeys/features/openpgp-card/stunnel.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)ipsec.html$" "$1/nitrokeys/features/openpgp-card/ipsec.html"
RedirectMatch 301 "(/[a-z][a-z])?/storage/(mac/|windows/|linux/)login-with-pam.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/pam.html"
#Nitrokey Start
RedirectMatch 301 "(/[a-z][a-z])?/start/index.html$" "$1/nitrokeys/start/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/start/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/faq.html$" "$1/nitrokeys/start/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)?factory-reset.html$" "$1/nitrokeys/start/factory-reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)smime-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)smime-outlook.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)smime.html$" "$1/nitrokeys/features/openpgp-card/smime/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp.html$" "$1/nitrokeys/features/openpgp-card/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/openpgp-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-outlook.html$" "$1/nitrokeys/features/openpgp-card/openpgp-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-keygen-on-device.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-on-device.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-keygen-gpa.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-keygen-backup.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-backup.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)openpgp-csp.html$" "$1/nitrokeys/features/openpgp-card/openpgp-csp.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/windows/putty.html$" "$1/nitrokeys/features/openpgp-card/ssh/putty.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)ssh.html$" "$1/nitrokeys/features/openpgp-card/ssh/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)gpa.html$" "$1/nitrokeys/features/openpgp-card/gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)stunnel.html$" "$1/nitrokeys/features/openpgp-card/stunnel.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)ipsec.html$" "$1/nitrokeys/features/openpgp-card/ipsec.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)login-with-pam.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/pam.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/linux/firmware-update.html$" "$1/nitrokeys/start/firmware-update.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)?setting-kdf-do.html$" "$1/nitrokeys/start/setting-kdf-do.html"
RedirectMatch 301 "(/[a-z][a-z])?/start/(mac/|windows/|linux/)?multiple-identities.html$" "$1/nitrokeys/start/multiple-identities.html"
#Nitrokey Pro
RedirectMatch 301 "(/[a-z][a-z])?/pro/index.html$" "$1/nitrokeys/pro/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/pro/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/faq.html$" "$1/nitrokeys/pro/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?factory-reset.html$" "$1/nitrokeys/pro/factory-reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?firmware-update.html$" "$1/nitrokeys/pro/firmware-update.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)smime-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)smime-outlook.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)smime.html$" "$1/nitrokeys/features/openpgp-card/smime/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp.html$" "$1/nitrokeys/features/openpgp-card/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/openpgp-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-outlook.html$" "$1/nitrokeys/features/openpgp-card/openpgp-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-keygen-on-device.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-on-device.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-keygen-gpa.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-keygen-backup.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-backup.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openpgp-csp.html$" "$1/nitrokeys/features/openpgp-card/openpgp-csp.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/windows/putty.html$" "$1/nitrokeys/features/openpgp-card/ssh/putty.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?ssh.html$" "$1/nitrokeys/features/openpgp-card/ssh/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?gpa.html$" "$1/nitrokeys/features/openpgp-card/gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)stunnel.html$" "$1/nitrokeys/features/openpgp-card/stunnel.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)ipsec.html$" "$1/nitrokeys/features/openpgp-card/ipsec.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)login-with-pam.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/pam.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openvpn-easyrsa.html$" "$1/nitrokeys/features/openpgp-card/openvpn/easyrsa.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)openvpn-viscosity.html$" "$1/nitrokeys/features/openpgp-card/openvpn/viscosity.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)change-pins.html$" "$1/nitrokeys/features/openpgp-card/change-pins.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)certificate-authority.html$" "$1/nitrokeys/features/openpgp-card/certificate-authority.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)ecc.html$" "$1/nitrokeys/features/misc/ecc.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)eid-authenticate.html$" "$1/nitrokeys/features/openpgp-card/eid.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/windows/smart-policy.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/smart-policy.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)hard-disk-encryption.html$" "$1/nitrokeys/features/openpgp-card/hard-disk-encryption/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)disk-encryption-luks.html$" "$1/nitrokeys/features/openpgp-card/hard-disk-encryption/luks.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)otp.html$" "$1/nitrokeys/features/totp/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)2fa-microsoft.html$" "$1/nitrokeys/features/totp/microsoft.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)2fa-google.html$" "$1/nitrokeys/features/totp/google.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?2fa-nextcloud.html$" "$1/nitrokeys/features/fido2/nextcloud.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)?2fa-odoo.html$" "$1/nitrokeys/features/u2f/odoo.html"
RedirectMatch 301 "(/[a-z][a-z])?/pro/(mac/|windows/|linux/)automatic-screen-lock.html$" "$1/nitrokeys/features/misc/automatic-screen-lock.html"
#Nitrokey 3
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/index.html$" "$1/nitrokeys/nitrokey3/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/nitrokey3/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/faq.html$" "$1/nitrokeys/nitrokey3/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/features.html$" "$1/nitrokeys/nitrokey3/overview.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?firmware-update.html$" "$1/nitrokeys/nitrokey3/firmware-update.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?adsk.html$" "$1/nitrokeys/nitrokey3/adsk.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?reset.html$" "$1/nitrokeys/nitrokey3/reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?set-pins.html$" "$1/nitrokeys/nitrokey3/set-pins.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?troubleshooting.html$" "$1/nitrokeys/nitrokey3/troubleshooting.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?nitropy.html$" "$1/nitrokeys/nitrokey3/nitropy.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/shared/main.html$" "$1/nitrokeys/nitrokey3/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/linux/firmware-update-qubes.html$" "$1/nitrokeys/nitrokey3/firmware-update-qubes.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)?2fa-odoo.html$" "$1/nitrokeys/features/u2f/odoo.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/linux/desktop-login.html$" "$1/nitrokeys/features/u2f/desktop-login.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/linux/fedora-gnupg-configuration.html$" "$1/nitrokeys/features/openpgp-card/fedora-gnupg-configuration.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/passwordless-microsoft.html$" "$1/nitrokeys/features/fido2/passwordless-microsoft.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)keepassxc.html$" "$1/nitrokeys/features/password-safe/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)smime-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)smime-outlook.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)smime.html$" "$1/nitrokeys/features/openpgp-card/smime/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp.html$" "$1/nitrokeys/features/openpgp-card/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/openpgp-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-outlook.html$" "$1/nitrokeys/features/openpgp-card/openpgp-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-keygen-on-device.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-on-device.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-keygen-gpa.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-keygen-backup.html$" "$1/nitrokeys/features/openpgp-card/openpgp-keygen-backup.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-csp.html$" "$1/nitrokeys/features/openpgp-card/openpgp-csp.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/(mac/|windows/|linux/)openpgp-uif.html$" "$1/nitrokeys/features/openpgp-card/uif.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/index.html$" "$1/nitrokeys/features/piv/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/access_control.html$" "$1/nitrokeys/features/piv/access_control.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/certificate-management.html$" "$1/nitrokeys/features/piv/certificate-management.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/factory_reset.html$" "$1/nitrokeys/features/piv/factory_reset.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/key_management.html$" "$1/nitrokeys/features/piv/key_management.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/guides/index.html$" "$1/nitrokeys/features/piv/guides/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/nitrokey3/windows/piv/guides/client_logon_with_active_directory.html$" "$1/nitrokeys/features/piv/guides/client_logon_with_active_directory.html"
#Nitrokey HSM
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)index.html$" "$1/nitrokeys/hsm/getting-started.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/index.html$" "$1/nitrokeys/hsm/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/faq.html$" "$1/nitrokeys/hsm/faq.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)smime.html$" "$1/nitrokeys/features/openpgp-card/smime/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)smime-thunderbird.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-thunderbird.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)smime-outlook.html$" "$1/nitrokeys/features/openpgp-card/smime/smime-outlook.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)pkcs11-url.html$" "$1/nitrokeys/features/hsm/pkcs11-url.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)import-keys-certs.html$" "$1/nitrokeys/features/hsm/import-keys-certs.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)certificate-authority.html$" "$1/nitrokeys/features/openpgp-card/certificate-authority.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)apache2-tls.html$" "$1/nitrokeys/features/hsm/apache2-tls.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/windows/smart-policy.html$" "$1/nitrokeys/features/openpgp-card/desktop-login/smart-policy.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)?n-of-m-schemes.html$" "$1/nitrokeys/features/hsm/n-of-m-schemes.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)hard-disk-encryption.html$" "$1/nitrokeys/features/openpgp-card/hard-disk-encryption/index.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)ipsec.html$" "$1/nitrokeys/features/openpgp-card/ipsec.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)gpa.html$" "$1/nitrokeys/features/openpgp-card/gpa.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)stunnel.html$" "$1/nitrokeys/features/openpgp-card/stunnel.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)automatic-screen-lock.html$" "$1/nitrokeys/features/misc/automatic-screen-lock.html"
RedirectMatch 301 "(/[a-z][a-z])?/hsm/(mac/|windows/|linux/)dnssec.html$" "$1/nitrokeys/features/hsm/dnssec.html"

