@import 'divio_original.css';


.logo {
    height: 40px;
}


h1 {
    margin-bottom: 0; /* for placing the Subheadings of Product and Platform directly below the h1 */
}

.section h1 {
    margin-bottom: 1em;
}

#contents {
    float: right;
    margin: 0 0 0 1.5em;
}

#contents ul.simple {
    display: inline-block;
    padding: 1em;
    background: #f5f7f9;
    border: 1px solid #e5e5e5;
}

@media screen and (max-width: 1024px) {
    #contents {
        float: none;
        margin: 0;
    }
}
