@import 'divio_original.css';


.logo {
    height: 40px;
}

.section h1 {
    margin-bottom: 1em;
}

.section h1 + .product-platform-heading {
    margin-top: -2em;
    margin-bottom: 1.5em;
}

.wy-nav-content {
    position: relative;
}

#contents {
    float: right;
    margin: 0 0 0 1.5em;
}

#contents ul.simple {
    display: inline-block;
    padding: 1em;
    background: #f5f7f9;
    border: 1px solid #e5e5e5;
    max-width: 23em;
}

@media screen and (max-width: 1024px) {
    #contents {
        float: none;
        margin: 0;
    }
}
@media screen and (min-width: 1550px) {
    #contents {
        position: absolute;
        left: 100%;
        float: none;
        margin: 0;
        width: 23em;
    }

    #contents ul.simple {
        max-width: 23em;
    }
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

/* Syntax Highlighting with dark Background */

pre {
    background-color: #454545;
}

div[class^="highlight"] pre {

    color: #ddd;

}

.rst-content code.literal {
    color: #DDD;
    background-color: #454545;
}

.language-switcher li {
    display: inline; /* li nebeneinander anzeigen */
    list-style-type: none; /* ohne Aufzählungspunkte */
}


.language-switcher li:after {
    content: " |";
}
.language-switcher li:last-child:after {
    content: "";
}
